{% extends "::base.html.twig" %}
{% block body %}
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                        <span class="panel-title-content">
                            Mot de passe oublié
                        </span>
                </h2>
            </div>
            <div class="panel-body">
                <form action="#" method="POST">
                    <div class="form-group">
                        <label for="mail">Entrer votre adresse mail :</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="material-icons">email</span></div>
                            <input class="form-control" type="text" name="mail" id="mail">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Valider">
                    <input type="reset" class="btn btn-default" value="Effacer">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
