{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <p>
        La ressource que vous recherchez ne peut pas être trouvée. Faites bien attention à votre URL
        ou <a href="{{ path('agil_default_homepage') }}">retournez sur la page d'accueil</a>.
    </p>
{% endblock %}