{% extends "AGILUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                        <span class="panel-title-content">
                            Connexion
                        </span>
                    </h2>
                </div>
                <div class="panel-body">
                    <form action="{{ path("fos_user_security_check") }}" method="POST">
                        <div class="form-group">
                            <label for="username">Email :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                <input class="form-control" type="email" id="username" name="_username" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="material-icons">vpn_key</i></div>
                                <input class="form-control" type="password" id="password" name="_password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">Garder ma session active</label>
                        </div>
                        <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Connexion">
                        <input type="reset" class="btn btn-default" value="Effacer">
                    </form>
                    <p>
                        <a href="">Pas encore inscrit ?</a>
                    </p>
                    <p>
                        <a href="{{ path('fos_user_resetting_request') }}">Mot de passe perdu ?</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}