{% extends "AGILHallBundle::baseHallBundle.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="jumbotron-events">
                <h5><a href="#">Nom de l'évenement</a></h5>
                <p><h6><em>Début de l'information sur l'évenement avec des ... </em></h6></p>
                <p><h6>24 dec 2016</h6></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="jumbotron-events">
                <h5><a href="#">Nom de l'évenement</a></h5>
                <p><h6><em>Début de l'information sur l'évenement avec des ... </em></h6></p>
                <p><h6>24 dec 2016</h6></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="jumbotron-events">
                <h5><a href="#">Nom de l'évenement</a></h5>
                <p><h6><em>Début de l'information sur l'évenement avec des ... </em></h6></p>
                <p><h6>24 dec 2016</h6></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="jumbotron-events">
                <h5><a href="#">Nom de l'évenement</a></h5>
                <p><h6><em>Début de l'information sur l'évenement avec des ... </em></h6></p>
                <p><h6>24 dec 2016</h6></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
            <div class="jumbotron-events">
                <h5><a href="#">Nom de l'évenement</a></h5>
                <p><h6><em>Début de l'information sur l'évenement avec des ... </em></h6></p>
                <p><h6>24 dec 2016</h6></p>
            </div>
        </div>
    </div>
    <nav class="text-center">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    </div>

{% endblock %}

