{% extends "AGILHallBundle::baseHallBundle.html.twig" %}

{% block body  %}
	{% for event in events %}
        <h1>{{ event.getEventTitle }}</h1>
        <p>{{ event.getEventText }}</p>
    {% endfor %}
{% endblock %}