{% extends "AGILUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    {{ 'resetting.check_email'|trans({'%email%': email}) }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
