{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
Amicale GIL[Réinitialisation de votre mot de passe]
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
<p>Bonjour {{ user.username }},</p>
<p>Pour réinitialiser votre mot de passe, merci de vous rendre sur :</p>
<a href="{{  confirmationUrl }}" target="_blank">{{  confirmationUrl }}</a>
<p>Cordialement.</p>

{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
