{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
{% autoescape false %}
    <div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    {{ 'resetting.email.subject'|trans({'%username%': user.username}) }}
                </p>
            </div>
        </div>
    </div>
{% endautoescape %}
{% endblock %}
{% block body_text %}
{% autoescape false %}
<div class="col-lg-offset-2 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    {{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
                </p>
            </div>
        </div>
    </div>
{% endautoescape %}
{% endblock %}
{% block body_html %}{% endblock %}
