{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-lg-offset-3 col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">
                    <span class="panel-title-content">
                        Réinitialiser le mots de passe
                    </span>
                </h2>
            </div>
            <div class="panel-body">
                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div>
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                        {% endif %}
                        <div class="form-group">
                            <label for="username">{{ 'resetting.request.username'|trans }} :</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                                <input class="form-control" type="text" id="username" name="username" required="required" />
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <input name="_submit" class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
                        <input class="btn btn-default" type="reset" value="Effacer" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
