{% extends '::base.html.twig' %}

{% set isActive = "calendrier" %}

{% block stylesheets %}
{% endblock %}

{% block title %}Agenda{% endblock %}
{% block body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="panel-title-content">Calendrier</span>
            </h2>
        </div>
        <div class="panel-body">
            {{ include('AGILHallBundle::Calendar/calendar.html.twig') }}
        </div>
    </div>

{% endblock %}