{% extends "AGILAdminBundle::baseAdminBundle.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="panel">
                <div class="panel-default">
                    <div class="panel-body">
                        <p><strong>Contenu du fichier de Logs Profils :</strong></p>

                        <p><textarea readonly="readonly" class="form-control" rows="15">{{ logsProfile|raw }}</textarea></p>

                        <form action="{{ path('agil_admin_logs_profile') }}" method="post">
                            <p class="text-center">
                                <a href="{{ path('agil_admin_homepage') }}" class="btn">Retour</a>
                                <input class="btn btn-primary" type="submit" value="Vider les logs">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}