{% extends "AGILAdminBundle::baseAdminBundle.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
            <div class="panel">
                <div class="panel-default">
                    <div class="panel-body">
                        <p><strong>Contenu du fichier de Logs Offres :</strong></p>

                        {# |nl2br permet d'interpréter les \n et d'afficher correctement le fichier avec les sauts de lignes #}
                        <p><textarea class="form-control" rows="15">{{ logsOffer|nl2br }}</textarea></p>

                        <form action="{{ path('agil_admin_logs_offer') }}" method="post">
                            <p class="text-center">
                                <input class="btn btn-primary" type="submit" value="Vider les logs">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}