{% extends "AGILHallBundle::baseHallBundle.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-10">
                            <h3>{{ event.eventTitle }}</h3>
                        </div>
                        <div class="col-lg-2">
                            <h5>
                                Le <span class="text-primary-blue">{{ event.eventPostDate | date('j M Y') }}</span>
                                par <span class="text-primary-blue">{{ event.user }}</span>
                            </h5>
                        </div>

                    </div>
                </div>
                <div class="panel-body">
                    {{ eventContent | raw }}
                </div>

                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="owl-carousel">
                            <div class="item"><img class="img-responsive" src="http://lorempicsum.com/nemo/255/200/2"></div>
                            <div class="item"><img class="img-responsive" src="http://lorempicsum.com/nemo/255/200/2"></div>
                            <div class="item"><img class="img-responsive" src="http://lorempicsum.com/nemo/255/200/2"></div>
                            <div class="item"><img class="img-responsive" src="http://lorempicsum.com/nemo/255/200/2"></div>
                            <div class="item"><img class="img-responsive" src="http://lorempicsum.com/nemo/255/200/2"></div>
                            <div class="item"><img class="img-responsive" src="http://lorempicsum.com/nemo/255/200/2"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                                    frameborder="0"
                                    allowfullscreen></iframe>
                        </div>

                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({nav:true});
        });
    </script>

{% endblock %}
