{% extends "::base.html.twig" %}

{% block body %}

    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block fos_user_content %}
    {% endblock fos_user_content %}

{% endblock %}