{% extends "AGILSearchBundle::baseSearchBundle.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">


            {# CODE A INCLURE AU NIVEAU DE LA BARRE DE RECHERCHE #}
            {{ form_start(formSearchBar, {'method': 'GET', 'action' : path('agil_search_homepage')}) }}
                <button type="submit" class="btn btn-primary">Rechercher</button>
            {{ form_end(formSearchBar) }}


        </div>
    </div>
{% endblock %}
