{% extends "AGILAdminBundle::baseAdminBundle.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-sm-12 col-xs-6 col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<span class="panel-title-content">
								<i class="glyphicon glyphicon-user"></i> Gestion utilisateur
						</span>
                    </h2>
                    <p> Nombre d'utilisateurs total : <strong class="text-primary-blue"> {{ nbUsers }}</strong></p>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="{{ path("agil_admin_user_add") }}" class="list-group-item">Ajouter un utilisateur</a>
                        <a href="{{ path("agil_admin_user") }}" class="list-group-item">Liste Utilisateur</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xs-6 col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<span class="panel-title-content">
						  <i class="glyphicon glyphicon-th-list"> </i> Gestion Forum
						</span>
                    </h2>
                    <p> Nombre de sujets mis en ligne: <strong class="text-primary-blue">324</strong></p>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="{{ path('agil_admin_forum_categories') }}" class="list-group-item">Gérer les catégories</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-6 col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<span class="panel-title-content">
						  <i class="glyphicon glyphicon-home"> </i> Gestion Hall
						</span>
                    </h2>
                    <p> Nombre d'événement mis en ligne: <strong class="text-primary-blue">324</strong></p>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Afficher les événements</a>
                        <a href="#" class="list-group-item">Ajouter un évenement</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-6 col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
						<span class="panel-title-content">
							<i class="glyphicon glyphicon-briefcase"> </i> Gestion des Offres
						</span>
                    </h2>
                    <p> Nombre d'offres mises en ligne: <strong class="text-primary-blue">324</strong></p>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">Afficher les offres</a>
                        <a href="#" class="list-group-item">Afficher les offres en attente de validation ?</a>
                        <a href="#" class="list-group-item">Ajouter une offre</a>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}