{% extends "::base.html.twig" %}

{% block body %}
    <!-- Le forum Si on est connecté -->

    <div class="row panel">
        <div class="col-md-12">

            <div class="panel-heading">
                <h2 class="panel-title">
                        <span class="panel-title-content">
                          Les evenements
                        </span>
                </h2>
            </div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <td class="vert-align" >
                            <h5><a href="#">Nom de l'évenement</a></h5>
                            <h6><em>Début de l'information sur l'évenement avec des ... </em></h6>
                        </td>

                        <td class="vert-align" >24 dec 2016</td>
                        <td class="vert-align"><a href="#" class="btn btn-default">Editer</a></td>
                        <td class="vert-align"><a href="#" class="btn btn-default">Supprimer</a></td>
                    </tr>

                    <tr>
                        <td class="vert-align" >
                            <h5><a href="#">Nom de l'évenement</a></h5>
                            <h6><em>Début de l'information sur l'évenement avec des ... </em></h6>
                        </td>

                        <td class="vert-align" >24 dec 2016</td>
                        <td class="vert-align"><a href="#" class="btn btn-default">Editer</a></td>
                        <td class="vert-align"><a href="#" class="btn btn-default">Supprimer</a></td>
                    </tr>
                </table>

            </div>

        </div>
        <nav class="text-center">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}