{% extends "AGILAdminBundle::baseAdminBundle.html.twig" %}
{% block body %}
    <!-- Partie administration -->

    <!-- Accueil admin -->
    <h3>Administration utilisateurs</h3>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                <span class="panel-title-content">
                        <i class="glyphicon glyphicon-user"></i> Membres
                </span>
                    </h2>
                    <p> Nombre d'utilisateurs total : <strong>324</strong></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Nom</th>
                                <th>Mail</th>
                                <th>Inscrit le</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidule</td>
                                <td>truc@truc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>


                        </table>
                        <nav class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                <span class="panel-title-content">
                        <i class="glyphicon glyphicon-user"></i> Modérateurs
                </span>
                    </h2>
                    <p> Nombre de modérateurs total : <strong>324</strong></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Nom</th>
                                <th>Mail</th>
                                <th>Inscrit le</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>



                        </table>
                        <nav class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">
                <span class="panel-title-content">
                        <i class="glyphicon glyphicon-user"></i> Modérateurs
                </span>
                    </h2>
                    <p> Nombre d'utilisateurs total : <strong>324</strong></p>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table class="table">
                            <tr>
                                <th>Nom</th>
                                <th>Mail</th>
                                <th>Inscrit le</th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>
                            <tr>
                                <td>Bidul s sd ds ssssssssssssssssdsdds sd e</td>
                                <td>trucsdfsdfdsf@tsdfc.fr</td>
                                <td>01/01/12</td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Promouvoir"><i class="glyphicon glyphicon-plus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Destituer"><i class="glyphicon glyphicon-minus"></i> </a></td>
                                <td><a href="#" class="btn btn-default" data-toggle="tooltip" data-placement="top"
                                       title="Bannir"><i class="glyphicon glyphicon-trash"></i> </a></td>
                            </tr>


                        </table>
                        <nav class="text-center">
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>


        </div>

    </div>

{% endblock %}