{% extends "::base.html.twig" %}
{% block body %}
    <!-- Le forum Si on est connecté -->

    <div class="panel panel-default">

        <div class="panel-heading">
            <h2 class="panel-title">
                <span class="panel-title-content">
                  Edition de message
                </span>
            </h2>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"> </label>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <pre class="preview"> <em><h4>PREVIEW ZONE</h4></h5></em></pre>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <button type="submit" class="btn btn-default">Preview</button>
                        <button type="submit" class="btn btn-default">Modifier</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}